<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:testOnly="false">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application android:theme="@style/AppTheme" android:label="Vcode" android:icon="@drawable/ic_vcode" android:testOnly="false">
        <activity android:name=".MainActivity" android:screenOrientation="unspecified" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
