<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_vcode_launcher"
        android:label="Vcode"
        android:roundIcon="@drawable/ic_vcode_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vcode"
        android:usesCleartextTraffic="false">
        <meta-data android:name="vcode.start_url" android:value="https://v.aimj.xin/" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
